---
interface Props {
  logoSrc: string;
  logoAlt: string;
  websiteHref: string;
  websiteLabel: string;
  slidesCount: number;
}

const { logoSrc, logoAlt, websiteHref, websiteLabel, slidesCount } = Astro.props;
---

<style>
  .presentation:has(> section::scroll-marker:target-current) + footer {
    display: none;
  }
</style>

<footer
  class="text-[2svb] py-[1.5svb] px-[8svb] z-50 absolute inset-[auto_0_0_0] flex items-center gap-2 justify-between transition-colors duration-300"
  style="background-color: light-dark(black, hsl(0 0% 5%));"
>
  <img
    src={logoSrc}
    alt={logoAlt}
    class="h-[3.6svb] w-auto"
    loading="eager"
    decoding="async"
  />
  <span class="absolute left-1/2 text-white/50 text-2xl" style="translate: 30% 0;">
    / {slidesCount}
  </span>
  <a href={websiteHref} class="text-white text-3xl" target="_blank">{websiteLabel}</a>
</footer>
